
@font-face {
	font-family: 'kanjyuku';
	src: url(../fonts/かんじゅくゴシック.otf) format('opentype');
}

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #000;
	font-size: 16px;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	-webkit-text-size-adjust: 100%;
	line-height: 1.8;
}
a{
color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 2rem;
}
:root{
	--pink: #fcb0b0;
	--pink_w: #f5eaeb;
	--green: #d0f4c8;
	--yellow: #fcfbd4;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
.objectFit {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
    -webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
}
p + p{
	margin-top: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.mincho{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.kanjyuku{
	font-family: 'kanjyuku';
}
.cta_btn{
	padding: 1rem 0 0;
	margin: 0 -1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ001 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt001{
	background: linear-gradient(to bottom, #fcf38c 0%, #f7e251 100%);
	padding: 1rem 1rem 0;
}
.ctt001 .txt{
	text-align: center;
}
.ctt001 .txt_in{
	text-align: left;
	display: inline-block;
}
.ctt001 h1{
	font-size: 1.8rem;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.ctt001 h1 strong{
	font-size: 3rem;
	color: #02c0a9;
}
.ctt001 h1 strong span{
	font-size: 1.7rem;
}
.ctt001 p{
	font-size: 4.8vw;
	line-height: 1.35;
	margin: 0.5rem 0 0;
}
.ctt001_in {
	margin: 0 auto;
	max-width: 767px;
}
.ctt001_in .box{
	display: -webkit-box;
	display:  -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: -0.5rem 0 0;
}
.ctt001_in .item{
	margin-top: auto;
}
.ctt001_in .item:first-child{
	width: 60%;
	margin-bottom: 1rem;
}
.ctt001_in .item:last-child{
	width: 38%;
}
.ctt001_in .item:last-child .img{
	margin-right: -1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ001 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ002 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt002{
	background: url(../img/ctt002_back.png) center / 100% auto repeat;
	padding: 2rem 0;
	text-align: center;
}
/* .ctt002 .container{
	padding: 0 1rem;
} */
.ctt002 .container h2{
	margin: 2rem 0;
}
.ctt002 .container h3{
	position: relative;
	color: #ff688d;
	background: #f8e252;
	font-size: 1.7rem;
	border-radius: 2rem;
	text-align: center;
	padding: 0.25rem 2rem;
	margin-bottom: 2rem;
}
.ctt002 .container h3::before{
	position: absolute;
	content: '';
	background: url(../img/ctt002_icon001.png) center 0/cover;
	top: 0.5rem;
	left: 1rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
}
.ctt002 .container h3::after{
	position: absolute;
	content: '';
	background: url(../img/ctt002_icon001.png) center 0/cover;
	bottom: 0.5rem;
	right: 0.5rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
}
.ctt002 .container p{
	text-align: center;
	color: #1d5602;
	line-height: 1.2;
}
.ctt002 .container .txt{
	font-size: 2rem;
}
.ctt002 .container .small_txt{
	font-size: 1.6rem;
}
.ctt002 .container .large_txt{
	font-size: 2.5rem;
}
.ctt002 .container .img001{
	margin: 2rem 0;
}
.ctt002 .flexbox{
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 1rem;
}
.ctt002 .flexbox a{
	width: 47%;
}
.ctt002 .flexbox .tel_btn{
	width: 47%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ002 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ003 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt003{
	padding-bottom: 5rem;
	text-align: center;
}
.ctt003 .ttl{
	background: var(--pink);
	padding: 0.75rem 0.5rem;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}
.ctt003 .container img{
	margin: 1rem 0;
}
.ctt003 .container p.txt{
	font-size: 2rem;
	line-height: 1.2;
	color: #343333;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ003 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ004 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt004{
	background-image: url(../img/ctt004_back.png);
	background-color: var(--pink_w);
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 2rem;
}
/* .ctt004 .container{
	padding: 0 1rem;
} */
.ctt004 .container .box{
	position: relative;
}
.ctt004 .container .box .txt{
	font-size: 1.5rem;
	color: #fa7575;
	line-height: 1.2;
	position: absolute;
	top: -1.5rem;
	left: 0;
	right: 0;
	margin: auto;
}
.ctt004 .container .box .large_txt{
	font-size: 2.2rem;
}
.ctt004 .container .img001{
	margin: 5rem 0 2rem;
}
.ctt004 .container .box{
	position: relative;
}
.ctt004 .container .box .img002{
	position: absolute;
	top: -7.2rem;
	left: 0;
	width: 100%;
	text-align: left;
}
.ctt004 .container .img003{
	margin: 3rem 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ004 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ005 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt005{
	background: #d0f4c8;
	text-align: center;
	padding: 2rem 0 0;
}
.ctt005 .container{
	position: relative;
}
.ctt005 .container h2{
	font-size: 1.6rem;
	color: #ff688d;
	display: inline-block;
	position: relative;
}
.ctt005 .container h2::before{
	position: absolute;
	content: '';
	background: url(../img/ctt005_icon001.png) center 0/cover;
	top: -0.25rem;
	left: -1.5rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
}
.ctt005 .container h2::after{
	position: absolute;
	content: '';
	background: url(../img/ctt005_icon001.png) center 0/cover;
	bottom: -0.25rem;
	right: -1.5rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
}
.ctt005 .container h3{
	display: inline-block;
	width: 70%;
}
.ctt005 .container .txt{
	position: relative;
}
.ctt005 .container .box{
	display: flex;
	align-items: center;
}
.ctt005 .container .box .item001{
	width: 58%;
}
.ctt005 .container .box .item002{
	text-align: left;
	width: 42%;
}
.ctt005 .container .box .item002 img{
	margin-bottom: 1rem;
}
.ctt005 .container .box .item002 img:last-child{
	margin-bottom: 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ005 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ006 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt006{
	background: var(--yellow);
	text-align: center;
	padding: 2rem 0;
}
.ctt006 .container img{
	margin-bottom: 1rem;
}
.ctt006 .container a img{
	margin-bottom: 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ006 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ007 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt007{
	background: url(../img/ctt007_back.png) center center / 100% auto repeat;
	text-align: center;
	padding: 2rem 0;
}
.ctt007 .container .img001{
	margin: 1rem 0;
}
.ctt007 .container .img002{
	margin: 1.5rem 0;
}
.ctt007 .container .item{
	display: -webkit-box;
	display:  -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 1rem 0 0.5rem;
}
.ctt007 .container .box .img{
	width: 100%;
	margin-bottom: 1.5rem;
}
.ctt007 .container .box .item .inner001{
	width: 5rem;
	text-align: center;
}
.ctt007 .container .box .item .inner002{
	flex:1;
	text-align: left;
}
.ctt007 .container .box .item p.ttl_num{
	color: #79c6c9;
}
.ctt007 .container .box .item .ttl_num span.num{
	font-size: 1.4rem;
}
.ctt007 .container h4.ttl{
	font-weight: normal;
	color: #79c6c9;
	font-size: 1.3rem;
	line-height: 1;
	margin-bottom: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ007 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コンテンツ008 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ctt008{
	background: #fceefd;
	text-align: center;
	padding: 2rem 0;
}
.ctt008 h2{
	font-size: 1.8rem;
	line-height: 1.2;
	color: #61b9ae;
}
.ctt008 h3{
	font-size: 1.5rem;
	color: #959595;
}
.ctt008 .img_wrap{
	position: relative;
}
.ctt008 .img_wrap .img01{
	position: absolute;
	max-width: 18rem;
	width: 55%;
	top: 2rem;
	right: 0.5rem;
}
.ctt008 .img_wrap .flexbox{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 0.8rem;
	bottom: 0.3rem;
	left: 50%;
	transform: translateX(-50%) translateX(0.3rem);
}
.ctt008 .img_wrap .flexbox .img{
	width: 31%;
}
.ctt008 p{
	font-size: 1.1rem;
	line-height: 1.4;
	color: #959595;
	margin: 1rem 0;
}
.ctt008 .img02{
	width: 100%;
	margin: 0 auto 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コンテンツ008 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	padding: 1rem 0 2rem;
	background: #fcf38c;
}
footer h2.ttl{
	font-size: 1.5rem;
	text-align: center;
	color: #343333;
	padding: 2.5rem 0 1rem;
}
footer iframe{
	width: 100%;
	height: 200px;
}
footer .container .privacy {
  width: 100%;
	height: 11rem;
	color: #343333;
  background-color: #f5f5f5;
	overflow: scroll;
	text-align: left;
	padding: 0.5rem 1.5rem;
}
footer .container .privacy h3{
	font-size: 1.2rem;
	margin: 1rem 0;
}
footer .container .privacy h4{
	font-size: 1.1rem;
	margin: 1rem 0;
}
footer .container .privacy p{
	margin: 1rem 0 0.5rem;
}
footer .container .privacy ul{
	padding: 0 0 0 1rem;
}
footer .box002 .item .privacy ul,li{
	list-style: disc;
}
footer .container .copyright{
	margin-top: 2rem;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}